/* NAV BAR STYLES */

nav {
    background-color: rgb(234, 255, 151);
    color: rgb(36, 97, 47);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: ease-in-out .5s;
    width: 100vw;
}

nav a:visited {
    color: rgb(47, 129, 62);
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: ease-in-out .3s;
}

nav a:hover {
    color: rgb(0, 0, 0)
}

/* GENERAL PAGE STYLES */

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(242, 72, 86);
}

h2 {
    color: rgb(242, 72, 86);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search {
    color:rgb(242, 72, 86);
    margin-top: 5px;
    margin-bottom: 5px;
}

/* HOME PAGE */

.index {
    background-image: url(/static/assets/cocktail.png);
    background-size: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.main-content {
    margin: 20px; /* Add margin for spacing. */
    display: block;
}

.drink-of-the-day {
    background-color: rgba(237, 237, 237, 0.6);
    width: 400px;
    padding: 15px;
    text-align: center;
}

.home-search .search {
    margin: 10px;
    display: block;
}

/* LINK STYLES */

a:visited {
    color: rgb(191, 44, 56);
}

a {
    color: rgb(191, 44, 56);
    text-decoration: none; 
}

a:hover {
    color: rgb(56, 179, 255);
}

.thumb {
    max-width: 150px;
}

/* DRINK DETAILS */

.drink-details {
    background-image: url(/static/assets/cocktail.png);
    background-size: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.drink-recipe {
    background-color: rgba(237, 237, 237, 0.6);
    width: 700px;
    padding: 15px;
    text-align: left;
}

/* RESULTS */

.results {
    background-image: url(/static/assets/cocktail.png);
    background-size: 88%;
    display: flex;
    flex-direction: column;
}

.results .thumb {
    align-items: left;
}


/* SEARCH PAGE */

.search {
    background-image: url(/static/assets/cocktail.png);
    background-size: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actual-search {
    padding: 50px;
    font-size: larger;
}

/* LOGIN / LOGOUT / SIGN UP STYLES */

.log {
    background-image: url(/static/assets/cocktail.png);
    background-size: 88%;
    display: flex;
}