<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul class="list-group" id="drinks">
        {% for drink in likes %}
          <li class="list-group-item">
            <a href="/drinks/{{ drink.id  }}"></a>
            {% if user.id == g.user.id %}
            <form method="POST" action="/drinks/{{ drinks.id }}/like" class="drinks-like">
              <button class="
                btn 
                btn-sm 
                {{'btn-primary'}}"
              >
                <i class="fa fa-thumbs-up"></i> 
              </button>
            </form>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
</body>
</html>